.buttons {
  display: inline-block;
  position: absolute;
  justify-content: start;
  align-items: center;
  padding: 10px;
  left: 45%;
  top: 25%;
  margin-left: -500px;
}

.Baslik {
  display: flex;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 75px;
  width: 50%;
  color: black;
  align-items: center;
  margin-left: 400px;
  margin-top: -200px;
}
.btn {
  justify-content: end;
  font-size: large;
  font-style: italic;
  justify-content: center;
  border-radius: 50px;
  width: 200px;
  height: 150px;
  margin-top: 50px;
  margin-left: 35px;
  background-color: brown;
  color: azure;
}
